.image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.rate {
  position: absolute;
  right: 0px;
  background: #8cbb0f;
  position: relative;
  left: 300px;
  border-radius: 3px;
}
.input {
  border: none;
}
.gridd {
  display: grid;
  grid-template-columns: 20% 80% 10%;
}
.gridd > div {
  height: 40px;
  align-items: center;
  text-align: left;
}

.widthh {
  width: 1100px;
  background: white;
  border-radius: 3px;
}
/* @media only screen and (max-width: 1300px) {
  .widthh {
    width: 500px;
    background: white;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 600px) {
  .widthh {
    width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
} */
