.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	/* background-color: tomato; */
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.slick-prev:before {
	content: "<";
	color: black;
	font-size: 15px;
}

.slick-next:before {
	content: ">";
	font-weight: 1000;
	color: black;
	font-size: 15px;
}
